@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-background: var(--color-background);
  --color-header: var(--color-background);
  --color-card-bg: var(--color-card-bg);
  --color-card-border: var(--color-card-bg);
  --color-text: var(--color-text);
  --color-subtext: var(--color-subtext);
  --color-color1: var(--color-color1);
}

:root {
  --color-background: #FFFFFF;
  --color-header: #F5F5F7;
  --color-card-bg: #FFFFFF;
  --color-card-border: #66339966;
  --color-text: #1C1C1C;
  --color-subtext: #663399;
  --color-color1: #a0d2eb;
}

/* .dark {

} */

/* @media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  /* }
} */

button {
  cursor: pointer;
}
